.form-control,
input,
textarea {
	padding: 15px 20px;
	border-radius: 4px;
	height: auto;
	border: 1px solid #4d5053;
	margin-bottom: 24px;
	width: 100%;
	max-height: 56px;
	display: block;
	&::placeholder {
		color: #b3b4b5;
	}
}
textarea {
	min-height: 156px;
	max-height: auto;
	resize: none;
	@extend .form-control;
}
input[type="radio"] {
	&:checked + .radio-btn {
		@include pseudo(before, $position: static) {
			background-color: $color-primary;
			content: url("../img/icons/checked.svg");
		}
	}
}

input[type="date"] {
	color: #b3b4b5;
	&::-webkit-inner-spin-button,
	&::-webkit-calendar-picker-indicator {
		opacity: 0;
		position: absolute;
		height: 100%;
		width: 30%;
		right: 0px;
	}
	@include pseudo(after, $content: url("../img/icons/calendar.svg")) {
		right: 20px;
		top: 18px;
		user-select: none;
	}
	&.empty {
		color: #495057;
	}
}

.radio-btn {
	display: inline-flex;
	margin: 0;
	@include pseudo(before, $position: static) {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		max-width: 20px;
		max-height: 20px;
		display: inline-block;
		margin-right: 12px;
		padding-left: 5px;
		background-color: #d6d8e7;
		border-radius: 50px;
	}
}

.radio-numbers {
	margin-bottom: 14px;
	@include flex(flex-start, stretch);
	flex-wrap: wrap;
	label {
		padding: 5px 11px;
		border-radius: 4px;
		background: #ffffff;
		border: 1px solid #b3c3cd;
		color: $color-primary;
		margin-bottom: 0;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	input[type="radio"] {
		&:checked + label {
			background: $color-primary;
			color: $color-white;
			border-color: $color-primary;
		}
	}
}
