.nav-tabs {
	overflow-x: scroll;
	overflow-y: hidden;
	flex-wrap: nowrap;
	border-color: #ccd7dd;
	margin-top: 24px;
	margin-bottom: 30px;
	@include scrollbar(hide);
	.nav-item {
		&:first-child {
			.nav-link {
				margin-left: 0;
				padding-left: 0;
			}
		}
		.nav-link {
			border: none;
			outline: none;
			color: #808284;
			padding-bottom: 12px;
			margin-right: 23px;
			margin-left: 23px;
			padding-left: 0;
			padding-right: 0;
			&.active {
				color: $color-secondary;
				@include pseudo(after) {
					left: 0;
					right: 0;
					height: 3px;
					background-color: $color-primary;
					bottom: 0;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}
			}
		}
	}
	&:hover {
		@include scrollbar(show);
	}
}
