.nav-tabs {
	flex-wrap: nowrap;
	border: none;
	margin-bottom: 30px;
	max-height: 53px;
	overflow-y: hidden;
		border-bottom: 1px solid #ccd7dd;
		@include scrollbar(hide);
	.nav-item {
		&:first-child {
			.nav-link {
				margin-left: 0;
				padding-left: 0;
			}
		}
		.nav-link {
			border: none;
			outline: none;
			color: #808284;
			padding-bottom: 10px;
			margin-bottom: 2px;
			margin-right: 23px;
			margin-left: 23px;
			padding-left: 0;
			padding-right: 0;
			&.active {
				color: $color-secondary;
				@include pseudo(after) {
					left: 0;
					right: 0;
					height: 3px;
					background-color: $color-primary;
					bottom: 0;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
					z-index: 1;
				}
			}
		}
	}
	&:hover {
		@include scrollbar(show);
	}
	/* width */
	&::-webkit-scrollbar {
		width: 0;
		height: 6px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 50px;
		background: #2a9d8f;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $color-primary;
	}
	@include mq(sm) {
		overflow: auto;
		border-bottom: 1px solid #ccd7dd;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
