.grid {
	display: grid;
	grid-template-columns: 321px auto;
	grid-template-rows: 100vh;
	grid-template-areas: "sidebar main";

	@include mq(lg) {
		display: block;
	}
}
aside {
	grid-area: "sidebar";
}
main {
	grid-area: "main";
}
