body{
	display: grid;
	grid-template-columns: 321px auto;
	grid-template-rows: 100vh;
	grid-template-areas: "sidebar main";
}
aside{
	grid-area: "sidebar";
	overflow: auto;
	background-color: $color-primary;

}
main{
	grid-area: "main";
	overflow: auto;
}
