aside#sidebar {
	padding: 40px;
	display: flex;
	flex-direction: column;

	.logo {
		margin-bottom: 22px;
		display: block;
	}
	form {
		margin-bottom: 20px;
		input{
			margin-bottom: 0;
		}
	}
	.logout{
		display: block;
		margin-top: auto;
	}
}
