aside#sidebar {
	padding: 40px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	background-color: $color-primary;
	.logo {
		margin-bottom: 22px;
		display: block;
	}
	form {
		margin-bottom: 20px;
		input {
			margin-bottom: 0;
		}
	}
	.cards {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-y: auto;
		@include scrollbar(hide);
	}
	.divider {
		margin-top: auto;
		margin-bottom: 20px;
		background-color: #576872;
		height: 1px;
	}
	.logout {
		display: block;
		color: $color-white;
		border-radius: 10px;
		padding: 16px 20px;
		transition: background 300ms ease;
		&:hover {
			background: #335f79;
			transition: background 300ms ease;
		}
		svg {
			margin-right: 16px;
		}
	}

	@include mq(lg) {
		padding: 20px;
		position: fixed;
		top: 0;
		bottom: 0;
		right: auto;
		left: -100%;
		transition: left 400ms ease-out;
		top: 99px;
		&.is-active {
			left: 0;
			transition: left 300ms ease;
		}
	}
	@include mq(sm) {
		overflow: auto;
		top: 82px;
		width: 100%;
		.cards{
			overflow: visible;
		}
	}
}
