.home-page {
	main {
		#details {
			.radio-buttons {
				label:first-of-type {
					margin-bottom: 12px;
				}
				.flex {
					display: flex;
					margin-bottom: 24px;
					label.radio-btn {
						margin-bottom: 0;
						&:nth-child(4) {
							margin-right: auto;
							margin-left: auto;
						}
					}
				}
			}
			.drag {
				cursor: pointer;
				border: 1px solid #4d5053;
				border-radius: 8px;
				min-height: 156px;
				outline: 1px dashed rgba(77, 80, 83, 0.5);
				outline-offset: -15px;
				@include flex(center, center);
				flex-direction: column;
				margin-bottom: 24px;
				p {
					margin-top: 5px;
					margin-bottom: 6px;
					color: #b3b4b5;
					font-size: 14px;
					line-height: 1.43;
					max-width: 243.2px;
					text-align: center;
				}
			}
			.preview-images {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row-reverse;
				img {
					width: 74px;
					height: 74px;
					object-fit: contain;
					border-radius: 6px;
				}
				.dz-preview {
					margin-bottom: 15px;
					position: relative;
					&:not(:last-child) {
						margin-left: 15px;
					}
					.dz-remove {
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
						cursor: pointer;
						top: -8px;
						right: -8px;
						background: $color-black;
						opacity: 0.5;
						width: 16px;
						height: 16px;
						border-radius: 50px;
						position: absolute;
						background-image: url("../img/icons/close.svg");
						background-repeat: no-repeat;
						background-position: center;
						svg {
							display: none;
						}
					}
				}
				.dz-details,
				.dz-error-message,
				.dz-success-mark,
				.dz-error-mark {
					display: none;
				}
			}
		}
		#transfer {
			& > .btn:first-child {
				display: inherit;
				margin-left: auto;
			}
			.alert {
				margin-top: 32px;
				margin-bottom: 48px;
			}
			& > h2 {
				margin-bottom: 24px;
			}
		}
		#reaction {
			& > .btn:first-child {
				display: inherit;
				margin-left: auto;
			}
			.alert {
				margin-top: 32px;
				margin-bottom: 48px;
			}
			& > h2 {
				margin-bottom: 24px;
			}
		}
	}
}
